@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: white;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  width: 100vw;
  height: 100vh;
}

body.loading * {
  animation: none !important;
}

@keyframes wrapper {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#wrapper {
  animation: wrapper 3s forwards;
}

#bg {
  animation: bg 30s linear infinite;
  transform: translate3d(0, 0, 0);
  background: #348cb2 url("../images/bg.jpg") bottom left;
  background-repeat: repeat-x;
  height: 100%;
  position: fixed;
}

@keyframes bg {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-2250px, 0, 0);
  }
}

#bg {
  background-size: 2250px auto;
  width: 6750px;
}

/* Main */
#main {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/* Header */
@keyframes header {
  0% {
    transform: translate3d(0, 1em, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes nav-icons {
  0% {
    transform: translate3d(0, 1em, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

#header {
  animation: header 1s 2.25s forwards;
  transform: translate3d(0, 0, 0);
  position: relative;
  opacity: 0;
  text-align: center;
  top: -4rem;
  width: 80%;
}

#header h1 {
  font-size: 4.35em;
  font-weight: 900;
  letter-spacing: -0.035em;
  line-height: 1em;
}

#header p {
  font-size: 1.25em;
  margin: 0.75em 0 0.25em 0;
  opacity: 0.75;
}

#header nav {
  margin: 1rem 0;
}

#header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#header nav li {
  animation: nav-icons 0.5s ease-in-out forwards;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  display: inline-block;
  opacity: 0;
  position: relative;
  top: 0;
  margin: 0.5rem;
}

#header nav li:nth-child(1) {
  animation-delay: 2.5s;
}

#header nav li:nth-child(2) {
  animation-delay: 2.75s;
}

#header nav li:nth-child(3) {
  animation-delay: 3s;
}

#header nav li:nth-child(4) {
  animation-delay: 3.25s;
}

#header nav li:nth-child(5) {
  animation-delay: 3.5s;
}

#header nav li:nth-child(6) {
  animation-delay: 3.75s;
}

#header nav li:nth-child(7) {
  animation-delay: 4s;
}

#header nav li:nth-child(8) {
  animation-delay: 4.25s;
}

#header nav a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px white;
  border-radius: 50%;
  padding: 1.25rem;
  background: rgba(255, 255, 255, 0.05);
  transition: all 200ms ease-in-out;
}

#header nav a:hover {
  transform: scale(1.1);
  background: rgba(255, 255, 255, 0.2);
}

#header nav a svg {
  width: 2.5rem;
  height: 2.5rem;
}

/* Footer */
#footer {
  background-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.6) 65%
  );
  background-image: linear-gradient(
    top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.6) 65%
  );
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  padding-bottom: 4px;
}

/* Wide */
@media screen and (max-width: 1680px) {
  body {
    font-size: 13pt;
  }
  @keyframes bg {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(-1500px, 0, 0);
    }
  }

  #bg {
    background-size: 800px auto;
    width: 4500px;
  }
}

/* Normal */
@media screen and (max-width: 1280px) {
  body {
    font-size: 12pt;
  }

  @keyframes bg {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(-750px, 0, 0);
    }
  }

  #bg {
    background-size: 750px auto;
    width: 2250px;
  }
}

/* Mobile */
@media screen and (max-width: 736px) {
  body {
    min-width: 320px;
    font-size: 11pt;
  }
  @keyframes bg {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(-300px, 0, 0);
    }
  }

  #bg {
    background-size: 300px auto;
    width: 900px;
  }

  /* Header */
  #header h1 {
    font-size: 2.5em;
  }

  #header p {
    font-size: 1em;
  }

  #header nav a:hover {
    font-size: 1em;
  }
}

/* Mobile (Portrait) */
@media screen and (max-width: 480px) {
  @keyframes bg {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(-412.5px, 0, 0);
    }
  }

  #bg {
    background-size: 600px auto;
  }
}
